<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="supervisorasignacion.css">
</head>

<body>
    <header>
        <img src="escudo.jfif" alt="width 100px">
        <h1>Asignacion Inspeccion Solicitud</h1>
    </header> <br>
    <form action="">Ubicacion Solicitud <br>
        <hr>
        <label for="">Nombre Completo:</label>
        <input type="text"> <br><br>
        <label for="" class="tiposolisitud1">Tipo de Solicitud:</label>
        <input type="text" class="tiposolicitud"><br> <br>
        <label for="" class="motivo1">Motivo:</label> <br> <br>
        <input type="text" class="motivo">
        <img src="ubicacion foto1.png" alt=""> <br> <br>
        <form action="">fotos</form>
        <hr>
        <img src="formulario tala2.png" alt=""> <br> <br>
        <label for="">Asignar a:</label>
        <select name="" id="">Asignacion
            <option value="">tecnico</option>
            <option value="">supervisor</option>
        </select> <br> <br>
        <button class="registrarasignacion">Registrar Asignacion</button>


</body>

</html>