<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fotos</title>
</head>
<link rel="stylesheet" href="formulariofotos.css">

<body>
    <header>
        <img class="cbbaescudo" src="cochabambaprogreso.png" alt="">
        <h1 class="titulo3"> Fotos</h1>
    </header>
    <div class="formfotos">
    <form action="" class="usolicitud">Ubicacion Solicitud <br>
        <hr class="hr3">
        <label for="">Nombre Completo:</label>
        <input type="text"> <br><br>
        <label for="">Tipo de Solicitud:</label>
        <input type="text"><br> <br>
        <form action="">Fotos</form>
        <hr>
        <label for="" class="Narchivo">Nombre Archivo:</label>
        <input type="text" class="archivo"> <br> <br>
        <img class="tabla3" src="tabla1.png" alt=""> <br> <br>
        <a class="botonfinalizar2" href="">Finalizar Solicitud</a> 
</div> <br>
        <footer>
            <div>
                <img src="/MyBlog/resources/views/cochaprogreso.png" alt="">
            </div>
        </footer>

</body>

</html>