<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ubicacion</title>
</head>
<link rel="stylesheet" href="formularioubicacion.css">

<body>
    <header>
        <img src="/MyBlog/resources/views/cochabambaprogreso.png" alt="" class="cochaalcaldiaimg">
        <h1 class="titulo2">Ubicación</h1>
    </header> <br>

    <div class="ubicacionsolicitud">
  
        <form action="" class="formularioubicacion">Ubicacion Solicitud</form> <br> <br> 
         <label for="nombre" class="nombrecompleton">nombre completo:</label>
        <input type="text" class="nombre1"> <br> <br>
        <label for="solicitud" class="tiposolicitudt">tipo solicitud:</label>
        <input type="text" class="tiposolicituds"> <br> <br>
        <label for="mapa" class="mapam">Mapa</label> <br>
       <img class="ubicacion" src="/MyBlog/resources/views/ubicacion foto1.png" alt="" width="300px">
        <label for="observacion" class="observaciono"> observasion:</label>
        <textarea class="Observacion" name="" id="" cols="30" rows="10"></textarea>
      
        <a class="botonregistrarubicacion" href="">Registrar Ubicacion</a>
        <a class="botonadjuntarfotos"  href="/MyBlog/resources/views/formulariofotos.html">Adjuntar Fotos</a>

        
    
    
       
    </div> <br>
    <footer>
        <div>
            <img src="/MyBlog/resources/views/cochaprogreso.png" alt="">
        </div>
    </footer>

</body>

</html>