<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solicitud tala de arboles</title>
    <link rel="stylesheet" href="ciudadanosolicitudform.css">
</head>

<body>
    <header>
        <img src="/MyBlog/resources/views/cochabambaprogreso.png" alt="" class="cochaalcaldiaimg">
        <h1 class="titulo1">Solicitud Poda / Tala</h1>
    </header> 
    <nav class="nav1">
      <a href="/MyBlog/resources/views/loginusuario.html">Iniciar Sesión</a>  <a href="/MyBlog/resources/views/formularioubicacion.html">Ubicacion</a><a href="/MyBlog/resources/views/formulariofotos.html">Fotos</a>
    </nav>

    <div class="solicitante">
        <form action="" class="solicitantelabel">Datos Solicitante</form> <br>
        <hr>
        <label for="C.I" class="id1">documento de identidad:</label>
        <input type="text" class="ci"> <br> <br>
        <label for="nombre" class="nombrec">nombre completo:</label>
        <input type="text" class="nombre"> <br> <br>
        <label for="direccion" class="direcciond">direccion:</label>
        <input type="text" class="direccion"> <br> <br>
        <label for="telefono" class="telefonot"> telefono:</label>
        <input type="text" class="telefono">
    </div>
    <div class="solicitud">
        <form action="">Datos Solicitud</form>
        <hr><br> <br>
        <label for="">Nro FUR de admision:</label>
        <input type="text"><br> <br>

        <label for="">Tipo Solicitud</label>
        <select name="" id="">Tipo Solicitud
            <option value="">Poda</option>
            <option value="">Tala</option>
            <option value="">Denuncia</option>
            <option value="">Otro</option>
        </select> <br> <br>
        <label for="" class="motivo">Motivo:</label>
        <textarea name="" id="" cols="30" rows="10"></textarea> <br> <br>
        <a class="botonregistrar1" href="">Registrar Solicitud</a> <a class="botonubicacion" href="/MyBlog/resources/views/formularioubicacion.html">Ubicacion Solicitud</a>

    </div> <br>
    <footer>
        <div>
            <img src="/MyBlog/resources/views/cochaprogreso.png" alt="">
        </div>
    </footer>

</body>

</html>