<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="informetecnico.css">
</head>

<body>
    <header>
        <img src="escudo.jfif" alt="width 100px">
        <h1>Informe Técnico</h1>
    </header> <br>
    <form action="">Ubicacion Solicitud <br>
        <hr>
        <label for="">Nombre Completo:</label>
        <input type="text"> <br><br>
        <label for="" class="tiposolisitud1">Tipo de Solicitud:</label>
        <input type="text" class="tiposolicitud"><br> <br>
        <label for="" class="motivo1">Motivo:</label> <br> <br>
        <input type="text" class="motivo"> <br> <br>
        <label for="">Datos Técnicos</label>
        <hr> <br> <br>
        <label for="" class="altura">Altura:</label>
        <input type="text"> <label for="" class="especie">Especie:</label> <input type="text" class="especie1"> <br> <br>
        <label for="" class="dapcap">DAP/CAP:</label>
        <input type="text"> <br> <br>
        <label for="" class="descripciones">Otras Descripciones:</label>
        <textarea name="OTRASDESCRIPCIONES" id="" cols="30" rows="10"></textarea> <br> <br>
        <label for="" class="evaluaciontecnica">Evaluación Técnica:</label>
        <textarea name="" id="" cols="30" rows="10"></textarea> <br> <br> <br>
        <label for="">DICTAMEN TÉCNICO:</label><label for="">LA SOLICITUD</label> <label for="" class="nosi">NO/SI</label> <label for="" class="coresponde">CORRESPONDE</label> <br> <br>
        <div class="switch-container">
            <input type="checkbox" id="switch">
            <label for="switch" class="lbl"></label>
            

        </div>
        <button>Registrar Informe</button> <button class="fininfo">Finalizar Informe</button>



</body>

</html>