<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">

</head>

<body>
    <header>
        <img class="cbbaescudo" src="cochabambaprogreso.png" alt="">
        <h1 class="titulo4"> Iniciar Sesión</h1>
    </header>
    <div class="Isesion">
    <form class="login" action="" class="">Iniciar Sesión <br>
        <hr class="hr4">
        <label class="user" for="">usuario:</label>
        <input class="usert" type="text"> <br><br>
        <label class="password" for="">contraseña:</label>
        <input class="password2" type="password"><br> <br>
        <a class="botoninicio" href="/MyBlog/resources/views/formulario.html">Inicio</a>
        </form>
    </div> <br>
    <footer>
        <div>
            <img src="/MyBlog/resources/views/cochaprogreso.png" alt="">
        </div>
    </footer>

</body>

</html>